*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 50vh;
    width: 50vw;
    background-color: aqua;
    padding: 30px;
    border: 20px   ridge black;
   border-top: 45PX DOUBLE yellow;
   
}