*{
    /* margin: 0%; */
    /* padding: 0%; */
    box-sizing: border-box;
}
body{
    display: flex;
   justify-content: center;
   align-items: center;
}
P{
    font-size: 50PX;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 5px 3px 7px red;
    text-decoration: underline wavy 4px  rgb(228, 110, 47);
    
}   